<!DOCTYPE html>
<html>
<main>
    <p>{{information}}</p>
    <br>
    <a href="/login">Log in</a>
    </br>
    <a href="/signup">Signup</a>
    <br>
    <a href="/frontpage">Mainpage</a>
</main>
</html>