<head>
    <meta charset="utf-8">
    <title>Mafia Forum</title>
    <link rel="stylesheet" href="/css/frontpage.css">
</head>
<body>
    <header>
        <h1>Front Page</h1>
        <ul>
            <li><a href="/forums">Home</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/signup">Signup</a></li>
        </ul>
    </header>
    <ul id = "forums-list">
    {{#each forums}}
    <li>
        <a id="forum-items" href="/forums/{{this.url}}">{{this.title}}</a>
    </li>
    {{/each}}
    </ul>
</body>