<head>

    <meta charset="utf-8">
    <title>Mafia Forum</title>
    <link rel="stylesheet" href="/css/frontpage.css">
</head>
<body>
    <header>
    <img src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwiihLzI5qXiAhWSTd8KHdqyCxEQjRx6BAgBEAU&url=https%3A%2F%2Fstore.steampowered.com%2Fapp%2F40990%2FMafia%2F&psig=AOvVaw1VhARe72jbVGEkenaNoQ25&ust=1558293611323475" alt="Mafia Icon" width="1026" height="514">
    <br>
        <h1>Front Page</h1>
        <ul>
            <li><a href="/forums">Home</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/signup">Signup</a></li>
        </ul>
    </header>
    <ul id = "forums-list">
    {{#each forums}}
    <li>
        <a id="forum-items" href="/forums/{{this.url}}">{{this.title}}</a>
    </li>
    {{/each}}
    </ul>
</body>