<head>
    <meta charset="utf-8">
    <title>Mafia Forum</title>
    <link rel="stylesheet" href="/css/frontpage.css">
</head>
<body>
    <header>
        <h1>Front Page</h1>
        <ul>
            <a href="/forums">Home</a>
            <a href="/users/profile/{{user.username}}">{{user.username}}</a>
            <a href="/users/logout">Log out</a>
        </ul>
    </header>
    <ul id = "forums-list">
    {{#each forums}}
    <li>
        <a id="forum-items" href="/forums/{{this.url}}">{{this.title}}</a>
    </li>
    {{/each}}
    </ul>
</body>