f<article class="new-post">
  <h1>Make a Post</h1>
  <form action="/posts" method="POST" class="new-post-form">
    <label>
      Post Title
      <input type="text" name="title" placeholder="Post Title" value="{{post.title}}" class="full-width-input" required/>
    </label>
    <br>
    <br>
    <label for="post-body">
      Post Body
    </label>
    <br>
    <textarea id="post-body" name="body" rows="4" placeholder="Post Content" class="full-width-input" required>{{post.body}}</textarea>
    <br>
    <!--<label for="poster">
      Poster
    </label>
    <select class="full-width-input" name="posterId">
      <option value="">Select User...</option>
      <option value="ee9c1ebb-a589-4075-a9a9-e6ee38145f67">Phil</option>
    </select>
    <label>
      <input type="radio" name="user-test" value="1" /> One
    </label>
    <label>
      <input type="radio" name="user-test" value="2" /> Two
    </label>

    <div>
      <label>
      <input type="checkbox" name="checkbox-test" value="first" /> First
  </label></div>
    <div>
      <label>
      <input type="checkbox" name="checkbox-test" value="second" /> Second
  </label></div>-->
    <button type="submit">Create New Post</button>
    <button type="reset">Clear Form</button>
  </form>
  {{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</article>