<head>
    <meta charset="utf-8">
    <title>Create a new thread</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <main>
        <h1>Create a new thread</h1>
        <form id="new-thread-form" action="/forums/{{forum.url}}/new-thread" method="POST">
            <h2>enter title of new thread</h2>
            <div class="form-group">
                <input type="text" id="title" class="form-control" placeholder="Title..." name="title" required>
            </div>
            <br>
            <h2>enter first post for this thread</h2>
             <label for="post-body">
            Post Body
            </label>
            <br>
                <input type="text" id="content" name="content" placeholder="Post..." required>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
    </main>
    {{error}}
    <br>
    <a href="/users/all">All users</a>
    <br>
    <a href="/users/signup">signup</a>
    </br>
    <br>
    <a href="/forums">front page</a>
    </br>
    </body>
</body>