<head>
    <meta charset="utf-8">
    <title>{{thread.title}}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <ul id = "posts-list">
    {{#each posts}}
        <li id="post-list-item">
             <p id="post-author">{{this.username}}</h1>             
             <p id="post-content">{{this.content}}</p>
        </li>
    {{/each}}
    </ul>
</body>